a {
  color: #00B7FF;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/* Vertical centering is based on the height of the container */
body,html {
  height: 100%
}
